body { 
    width: 100%; 
    height: 100vh;
}

#hero {
    background-color: #002B5B;
}

#hero h1 {
    color: #F9F5EB;
}

#hero p {
    color: #F9F5EB;
}   

#nav-bar {
    background-color: #EA5455;
}

#nav-bar a {
    color: #002B5B;
}

#nav-bar p {
    color: #002B5B;
}

nav {
    background-color: #EA5455;
}

.footer {
    background-color: #EA5455;
    color: #002B5B;
    height: 16vh;

}


